#Dialog Options Configuration
#
#allowEscClose: Allow players to close dialogs with the ESC key (default: true)
#showCloseButton: Show the close button in dialogs (default: true)
#displayAvatar: Display the NPC avatar in dialogs (default: true)
#Sat Jun 06 23:23:04 UTC 2026
allowEscClose=true
displayAvatar=true
showCloseButton=true
